@using Tamagotchi.Models
@using System.Timers;
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/scripts.js"></script>

<head>
  <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>


<h1>My Tamagotchis</h1>
<ul>
@if (Model.Count == 0)
{
  <p>You have no Pets!</p>
}
@if(Model.Count != 0)
{
  @foreach (Pet pet in Model)
  {
    <p>Name: @pet.Name</p>
    <li>I am.. <span id="hungerLevel">@pet.HowHungry()</span></li>
    <li>I feel.. @pet.HowHappy()</li>
    <li>I @pet.HowRested()</li>
    <li>I am @pet.Age year/s old</li>
    <li>Your tamagotchi was born on <span id="date"></span> at <span id="time"></span></li>
    <li id="timer"></li>
  }
}
</ul>

<form action="/pets/feed" method="post">
<button type="submit" name="feed">Feed</button>
</form>

<form action="/pets/play" method="post">
<button type="submit" name="play">Play with me</button>
</form>

<form action="/pets/nap" method="post">
<button type="submit" name="nap">Nap</button>
</form><br>
<a href="/pets/new">Add a new pet</a>


</body>
